form {
  width: 90%;
}

.form-group {
  height: 65px;
}

/* label {
  position: relative; 
  bottom: 3px;
} */

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 3px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

/* input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
} */

span {
  color: #bf1650;
}

span::before {
  display: inline;
  content: "⚠ ";
}

button {
  cursor: pointer;
  color: white;
  background: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: Sen, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 5px;
}

button:hover {
  filter: brightness(200%);
  background-color: rgb(22, 22, 22);
}

button:focus {
  outline: none;
}

.errors {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  bottom: 10px;
  width: 95%;
}


